RelianceTalk/obj/
RelianceTalk.Test/obj/
RelianceTalk.Test/bin/
RelianceTalk/bin/
ThermalConsole/bin/
ThermalConsole/obj/
ThermalTalk.Imaging.Test/obj/
ThermalTalk.Imaging/bin/
ThermalTalk.Imaging/obj/
ThermalTalk.Test/obj/
ThermalTalk/obj/
ThermalTalk.Test/bin/
ThermalTalk/bin/
ThermalTalk.Imaging.Test/bin/
packages/
*.nupkg
/ThermalTalk/build/ThermalTalk.XML
.vs/
.idea/
